<!DOCTYPE html>
<html>
<head>
	<title> Formulario</title>
</head>
<body>
	<label> Lo que sea</label>
	<form action= "/nombre" type="GET">
		<input type="text" name="nombre">
		<input type="submit" value="¡Hola!">
	</form>
</body>
</html>